.nav {
  background-color: orangered;
  font-size: 30px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav :global .active {
  background-color: green;
}

:global(.test) {
  background-color: red;
}
